<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ site.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#72078A">
	<meta property="og:image" content="http://www.gravatar.com/avatar/8a24b653e9dfee315febc22e4ecf4729?s=200">
	<link rel="shortcut icon" href="http://www.gravatar.com/avatar/8a24b653e9dfee315febc22e4ecf4729?s=200">

	<link rel="canonical" href="{{ site.url }}">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

	<link rel="preload" href="{{ '/assets/css/main.css' | relative_url }}" as="style" onload="this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}"></noscript>

</head>
