@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate {

  &--fade {
    opacity: 0;
    will-change: opacity;
    animation: fade .5s forwards;
  }

  &--fade-up {
    opacity: 0;
    will-change: transform, opacity;
    animation: fade-up .5s forwards;
  }

  &--fade-down {
    opacity: 0;
    will-change: transform, opacity;
    animation: fade-down .5s forwards;
  }

  &--delay {
    &--1 {
      animation-delay: .25s;
    }
    &--2 {
      animation-delay: .5s;
    }
    &--3 {
      animation-delay: .75s;
    }
    &--4 {
      animation-delay: 1s;
    }
    &--5 {
      animation-delay: 1.25s;
    }
    &--6 {
      animation-delay: 1.5s;
    }
    &--7 {
      animation-delay: 1.75s;
    }
    &--8 {
      animation-delay: 2s;
    }
    &--9 {
      animation-delay: 2.25s;
    }
    &--10 {
      animation-delay: 2.5s;
    }
  }
}
