$animation-base-duration: .25s;
$animation-delay-base-duration: .25s;

@import 'keyframes';

@mixin animation-delay($multiplier) {
  &--#{$multiplier} {
    animation-delay: $multiplier * $animation-delay-base-duration;
  }
}

@mixin animation-duration($multiplier) {
  &--#{$multiplier} {
    animation-duration: $multiplier * $animation-base-duration;
  }
}

.animate {

  &--fade {
    opacity: 0;
    will-change: opacity;
    animation: fade $animation-base-duration forwards;
  }

  &--fade-up {
    opacity: 0;
    will-change: transform, opacity;
    animation: fade-up $animation-base-duration forwards;
  }

  &--fade-down {
    opacity: 0;
    will-change: transform, opacity;
    animation: fade-down $animation-base-duration forwards;
  }

  &--duration {
    @for $i from 1 to 5 {
      @include animation-duration($i);
    }
  }

  &--delay {
    @for $i from 1 to 14 {
      @include animation-delay($i);
    }
  }
}
