@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% { transform: scale(0); }
  6.97% { transform: scale(0.514); }
  13.96% { transform: scale(0.879); }
  20.94% { transform: scale(1.052); }
  27.93% { transform: scale(1.093); }
  45.95% { transform: scale(1.021); }
  63.96% { transform: scale(0.994); }
  100% { transform: scale(1); }
}

@keyframes radial-gradient {
  @for $i from 0 to 100 {
    #{percentage($i/100)} {
      @include radial-gradient-mixin(percentage(-15*$i/100/100), percentage(-30*$i/100/100));
    }
  }

  // 0% {
  //   @include radial-gradient-mixin(0%, 0%);
  // }
  // 100% {
  //   @include radial-gradient-mixin(-10%, -30%);
  // }
}
