.profile {
  border-radius: 100%;

  &__pic {
    border-radius: 100%;
  }
}

.section {
  &__background {
    background: $background-color;

    &--radial {
      background-color: $background-color;
      @include radial-gradient-mixin(-15%, -30%);
    }

    &--gradient {
      background: linear-gradient(270deg, $background-color--light, $background-color);
      background-size: 400% 400%;
    }
  }
}
