.profile {
  border-radius: 100%;

  &__pic {
    border-radius: 100%;
  }
}

.section {
  &__background {
    background: $background-color;

    &--radial {
      background: $background-color;
      background:
        repeating-radial-gradient(
          circle at -10% -30%,
          $background-color--light,
          $background-color 75%
        );
    }
  }
}
