<!DOCTYPE html>
<html>

{% include head.html %}

  <body>
    <section class="hero is-fullheight section__background--radial animate--radial-gradient">
      <div class="hero-body">
        <div class="container">

          <div class="level">
            <div class="level-item">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-96x96 animate--fade animate--duration--4">
                    <img class="profile__pic" src="{{ '/assets/image/profile.jpeg' | relative_url }}">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title has-text-light animate--fade-up animate--duration--2 animate--delay--1">{{ site.name }}</p>
                  <p class="heading has-text-light animate--fade-down animate--duration--2 animate--delay--3">Front-end developer / Engineer</p>

                  <div class="level is-mobile animate--fade-down animate--duration--2 animate--delay--5">
                    <div class="level-item">
                      <a class="is-size-4 icon is-large has-text-light" href="https://github.com/{{ site.github_username }}">
                        <span class="fab fa-github"></span>
                      </a>
                    </div>
                    <div class="level-item">
                      <a class="is-size-4 icon is-large has-text-light" href="mailto:{{ site.email }}">
                        <span class="fas fa-envelope"></span>
                      </a>
                    </div>
                    <div class="level-item">
                      <a class="is-size-4 icon is-large has-text-light" href="{{ '/assets/files/resume.pdf' | relative_url }}">
                        <span class="fas fa-file-alt"></span>
                      </a>
                    </div>
                    <div class="level-item">
                      <a class="is-size-4 icon is-large has-text-light" href="https://www.linkedin.com/in/{{ site.linkedin_username }}/">
                        <span class="fab fa-linkedin-in"></span>
                      </a>
                    </div>
                    <!-- <div class="level-item animate--fade-up animate--delay--6">
                      <a class="is-size-4 icon is-large has-text-info" href="https://twitter.com/{{ site.twitter_username }}/">
                        <span class="fas fa-twitter"></span>
                      </a>
                    </div> -->
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="hero-foot">

        <div class="level">
          {% for project in site.data.projects %}
            <div class="level-item animate--fade-up animate--duration--3 animate--delay--{{forloop.index0 | plus: 6}}">
              <a class="heading has-text-light" href="{{ project.url }}">
                {{ project.name }}
              </a>
            </div>
          {% endfor %}
        </div>

        <div class="level">
          <div class="level-item">
          </div>
        </div>

      </div>

    </section>

  </body>

</html>
